:root{
    --wite-text:  rgba(255, 255, 255, 1);

    --black-text: rgba(47, 48, 58, 1);

    --blue-text: rgba(33, 150, 243, 1);

    --wite-text: rgba(245, 244, 250, 1);

    --back-light-wite: #E5E5E5;

   --grey: rgba(33, 33, 33, 1);


   --grey-text: rgba(117, 117, 117, 1);

  --back-ligt-wite: #FFFFFF;

}
    ul{
    list-style: none;
}
   .header{
    background-color:  #FFFFFF;
    
}

    .main{
        text-align: left;
        padding-bottom: 50px;
        font-family: "Roboto";sans-serif;
        background-color: #2F303A;
        margin-top: 376px;
        font-size: 36px;
        font-weight: 700px;
        color: #212121
     
    }   
    .title-logo{
        font-family:"Raleway";sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
    }
.site-nav{
    font-family: "Roboto";sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em; 
    color:rgba(33, 150, 243, 1);
    font-weight: 77px;
    line-height: 16px;
    margin-left: 552px;
    margin-top: 32px;

}
.contacts{
    color: rgba(33, 33, 33, 1);
    rgba(33, 33, 33, 1);
}
.item{
    margin-top: 122px;
    font-family: "Roboto";sans-serif;
    margin-left: 1078px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;  
}
.hero-btn{
    color: #E5E5E5;
    background-color: #2196F3;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    text-align: center;
    font-family: "Roboto";sans-serif;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    background-color:  #2F303A;;
}
.hero-text-color {
    text-align: center;
    font-family: "Roboto";sans-serif;
    color:  #FFFFFF;
}
.active{
    background-color:#E5E5E5;
  }
  .sidebar{
      background-color:  #E5E5E5;;
  }
.sidebar-title{
        font-family: "Roboto";sans-serif;
        font-style: normal;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        position: absolute;
        line-height: 42px;
        margin-left: 612px;
        margin-top: 0px;
        color: #212121;
        }
.aline-png{
    margin: left 215px;
    margin-top: 92px;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
  }
.comander-title{
    font-family: "Roboto";sans-serif;
    text-align: center;
    font-weight: 264px;
    line-height: 42px;
    margin-left:150px;
    margin-top: 94px;
    margin-bottom: 50px;
    }
    
.modern {
        font-weight: 1600px;
        line-height: 42px;
        margin-left:215px;
        margin-top: 108px;
        margin-bottom: 186px;  
        background-color:#FFFFFF;
    }
.contacts{
        background-color: #2F303A;
    }
.contacts-web{
        font-family: "Raleway";sans-serif;
        font-style: normal;
        font-weight: 145px;;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        margin-left: 215px;
        margin-top: 20px;
        margin-right: 1240px;
    }
.title-smart{
        font-weight:231px;
        height: 21px;
        margin-left: 215px;
        font-family: "Roboto";sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    

